{% extends 'theme/base.html' %}

{% block content %}
    <section class="wrapper">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-5 md:gap-10">
            {% for anime in page_obj %}
                {% include "anime/anime_card.html" %}
                {% empty %}
            <p>No anime available</p>
            {% endfor %}
        </div>
        <div class="mt-5 md:mt-10 flex justify-center items-center gap-2">
                <div class="flex items-center gap-2">
                    {% if page_obj.has_previous %}
                    <a class="btn-primary" href="?page=1">← First</a>
                    <a class="btn-secondary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                </div>
                <p>
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </p>
                <div class="flex items-center gap-2">
                    {% if page_obj.has_next %}
                    <a class="btn-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="btn-primary" href="?page={{ page_obj.paginator.num_pages }}">Last →</a>
                {% endif %}
                </div>
        </div>
    </section>
{% endblock %}
