<div class="bg-white w-full rounded-lg shadow-lg p-5 flex flex-col gap-5">
    <a href="{% url 'anime:anime_detail' anime_id=anime.id %}" class="w-full inline-block aspect-[5/4] rounded-md shadow-lg overflow-hidden relative">
        <img src={{anime.image}} alt={{anime.title}} class="w-full h-full object-cover">
        <span class="absolute top-0 left-0 bg-cyan-500 text-white px-2 py-1 rounded-br-md text-xs font-semibold">
            <p>{{ anime.score|floatformat:1 }}</p>
        </span>
    </a>
    <div class="flex flex-col">
        <h2 class="text-lg md:text-xl font-bold">{{anime.title}} ({{anime.year}})</h2>
        <p class="text-sm text-gray-500">{{ anime.genres|join:", " }}</p>
    </div>
    <div class="mt-auto grid grid-cols-2 items-center gap-5">
        {% if anime.youtube_url %}
            <a href={{anime.youtube_url}} target="_blank" class="btn-secondary">Watch Trailer</a>
        {% endif %}
        <a href="{% url 'anime:anime_detail' anime_id=anime.id %}" class="btn-primary">View Details</a>
    </div>
</div>